.logo{
    margin-left: 22px;
    position: absolute;
    margin-top: 22px;
}


h1{
    padding-top: 22px;

}

h2{
    padding-top: 10px;
    font-weight: bold;
}

.kontakt{
    margin-top: -175px;
    padding-left: 25px;
}

.p{
    margin-bottom: 10px;
    font-weight: bold;
}

.tilmeld{
    margin-left: -12px;
}

.submit{
    margin-bottom: 80px;
}
